.Trustpilot {
  font-size: 14px;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  max-width: 220px;
  flex-wrap: wrap;
  margin: 0 auto;
}
.Trustpilot .Trustpilot_text {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 8px;
}
.Trustpilot .Trustpilot_text b {
  font-weight: 500;
}
.Trustpilot .Trustpilot_text span {
  font-weight: 400;
}
.Trustpilot .Trustpilot_stars {
  display: flex;
  position: relative;
  background: #DCDCE6;
}
.Trustpilot .Trustpilot_stars .Trustpilot_star {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 36px;
  width: 36px;
}
.Trustpilot .Trustpilot_stars .Trustpilot_star:not(:first-of-type) {
  margin-left: 3px;
}
.Trustpilot .Trustpilot_stars .Trustpilot_star svg {
  width: 26px;
  height: 26px;
}
.Trustpilot .Trustpilot_stars .Trustpilot_star::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  background: #FAFAFA;
  width: 3px;
}
.Trustpilot .Trustpilot_starsRate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #00B67A;
  z-index: 1;
}
.Trustpilot .trustpilotIcon {
  font-size: 0;
  margin-top: 8px;
}