@import ../settings

section.banner
  background-color: $grey-light2
  display: flex
  justify-content: center
  position: relative
  overflow: hidden
  +resolution(0, 575)
    height: 386px
    padding-top: 100px
  +resolution(576, 991)
    height: 433px
    padding-top: 110px
  +resolution(992)
    height: 459px
    padding-top: 74px
    align-items: center

  .containerCustom
    position: relative
    +resolution(0, 991)
      justify-content: center

    .image
      position: absolute
      z-index: 1
      +resolution(0, 575)
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        width: 373px
        height: 225px
      +resolution(576, 991)
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        width: 550px
        height: 300px
      +resolution(992, 1100)
        bottom: -220px
        right: -20px
        width: 528px
        height: 320px
      +resolution(1100, 1300)
        bottom: -220px
        right: -20px
        width: 648px
        height: 390px
      +resolution(1300)
        bottom: -220px
        right: -150px
        width: 758px
        height: 457px

      img
        width: 100%
        height: 100%

    .innerDiv
      +resolution(0, 991)
        text-align: center

      h1
        +resolution(992)
          max-width: 680px
        +resolution(575, 991)
          max-width: 709px

      p
        font-family: $a
        font-weight: 600
        letter-spacing: $px
        color: $grey-normal
        margin-top: 16px
