@import settings.sass
  
section.main-text
  max-width: 884px
  margin-left: auto
  margin-right: auto
  padding: 143px 0
  +resp(lg)
    padding: 143px 0
  +resp(md)
    padding: 90px 0
  +resp(sm)
    padding: 34px 0 64px