<div style="text-align:center; border: 2px solid red; margin-bottom: 10px; padding: 20px;">
  <h1>WARNING! ACHTUNG! ATENCIÓN! УВАГА!</h1>
  <p>This is a <strong>preview version</strong> of the VyOS community website. It may differ from the production version in the most unexpected ways:
     contain links to untested VyOS images, contain misleading information, or simply be horribly broken.</p>
  <p>Unless you are looking for a preview website version, please leave this page and go to the production version at <a href="https://vyos.net">https://vyos.net</a>!</p>
</div>
